<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2015 herd contributors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!-- Don't add a shutdown hook for the defaul configuration. This also helps take care of logging warnings for JUnits. -->
<Configuration shutdownHook="disable" status="warn">
   <!--
     This is a default Log4J configuration file that will automatically get read in and used by Log4J during application startup.
     It exists to ensure any logging performed before our real herd-log4j.xml initialization occurs isn't lost and will go to the console.
     In addition, it also prevents a Log4J warning to be displayed on the console that no loggers are configured.
     The herd-log4j.xml initialization occurs early in the Spring bootstrapping process, but still after other technologies (including Spring itself)
     already perform their own logging. Once the herd-log4j.xml logging initialization has occurred, the initialization that occurred based on this file
     is no longer relevant since it is no longer used.
    -->
   <Appenders>
      <Console name="Console" target="SYSTEM_OUT">
         <PatternLayout pattern="%d{MMM-dd-yyyy HH:mm:ss.SSS} [%t] %-5p %c{5}.%M - %m%n"/>
      </Console>
   </Appenders>

   <Loggers>
      <!--
       Turn off error logging for the schema export class which displays lots of errors (see below) during the test schema export.
       These errors don't seem to cause problems which is why we're turning off logging for this one class.
       ERROR org.hibernate.tool.hbm2ddl.SchemaExport.perform - HHH000389: Unsuccessful: alter table bus_objct_data drop constraint FK_lnt27okt768yeecww91gq7265
       ERROR org.hibernate.tool.hbm2ddl.SchemaExport.perform - Table "BUS_OBJCT_DATA" not found; SQL statement:
       ...
      -->
      <Logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off" additivity="false"/>

      <!--
        We are using "warn" as the default level which should prevent any logging from going to the console unless real warning or errors occur
        early during application startup (i.e. before the real herd-log4j.xml is initialized). If we want to get additional early logging such as
        Spring context initialization, etc., this can be temporarily configured to "info" or "debug" if needed.
       -->
      <Root level="warn">
         <AppenderRef ref="Console"/>
      </Root>
   </Loggers>
</Configuration>
